.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
*.pyc
client_secret.json
__pycache__
app.db
pdfs
.credentials
*credentials.json
code/tony.db
code/tony.log*
*.swp
jobs.db
.DS_Store
*config.py
google-api-access.json
